<div class="container mt-2">
  <div class="row">
    <% Object.keys(posts).reverse().forEach(post => {%>

    <div class="col-md-6 col-sm-6">
      <div class="card card-block">
        <% if(posts[post].userId == user._id) {%>
        <div class="card-title dropdown-toggle dropleft text-right">
          <i class="bi bi-gear-fill" data-toggle="dropdown"></i>

          <div class="dropdown-menu form-container" aria-labelledby="dropdownMenuButton">
            <a href="/feed/edit/<%= posts[post]._id%>">
              <i class="bi bi-pencil-square edit">Edit</i>
            </a>
            <form action="/feed/<%= posts[post]._id%>?_method=DELETE" method="POST">
              <button class="delete" type="submit"><i class="bi bi-trash">Delete</i></button>
            </form>
            <% if(posts[post].isAvailable && posts[post].bids.length > 0) {%>
            <form action="/feed/get-winner/<%= posts[post]._id%>?_method=PUT" method="POST">
              <button class="pick"  type="submit">
                Pick Winner
                <i class="bi bi-check2-square"></i>
              </button>
            </form>
            <% }%>
          </div>
        </div>
        <% } %>
        <a href="<%= posts[post].photo%>"> <img src="<%= posts[post].photo%>" alt="photo of <%= posts[post].title%>" /></a>
        <h5 class="card-title mt-3 mb-3"><%= posts[post].title%></h5>
        <p class="card-text"><%= posts[post].description%></p>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= posts[post].bids.length%> <% if (posts[post].bids.length == 1) { %>
          <span>Bid</span>
          <% } else {%>
          <span>Bids</span>
          <% } %>
        </h6>
        <% if((posts[post].userId != user._id) && (posts[post].isAvailable && posts[post].bids.indexOf(user._id) == -1) ) {%>
        <form action="/feed/<%= posts[post]._id%>?_method=PUT" method="POST">
          <button class="bid" type="submit">
   
            <!-- <i class="bi bi-plus-circle bid"></i> -->
            <img src="https://img.icons8.com/ios/344/auction.png" alt="">
          </button>
        </form>
        <% }else { %>
        <h6>Waiting to select winner..</h6>
        <% }%>
      </div>
    </div>

    <% }) %>
  </div>
</div>
