<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Hansel App</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1>Hello I am Feed!</h1>

    <h2>Create a Post</h2>
    <div class="form-container">
      <form action="/feed/create" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          <label for="title">Enter Title</label>
          <input type="text" name="title" id="" class="form-control"  placeholder="Enter Title">
        </div>      
        <div class="form-group">
          <label for="photo">Upload item photo</label>
          <input type="file" name="photo" id="" class="form-control" >
        </div>
        <div class="form-group">
          <label for="description">Tell us about the item (color, dimensions, condition etc.)</label>
          <textarea name="description" id="" class="form-control" cols="30" rows="10" placeholder="Enter description of the item you are giving"></textarea>
        </div>
        <div class="form-group">
          <label for="tags">Enter tags for the item separated by commas</label>
          <textarea name="tags" id="tags" class="form-control" cols="30" rows="10" placeholder="Enter tags separated by commas"></textarea>
        </div>
        <div class="form-group">
          <label for="location">Enter City, State</label>
          <input type="text" name="location" id="" class="form-control" placeholder="Enter Location">
        </div>
        <div class="form-group">
          <label for="bidTime">Enter a Bid Ending time</label>
          <input type="datetime-local" name="bidTime" id="" class="form-control" >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <div class="feed-container">
      <% posts.forEach(post => {%>
        <div class="card">
          <img src="<%= post.photo%>" alt="photo of <%= post.title%>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= post.title%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.title%></h6>
            <p class="card-text"><%= post.description%></p>
            <i class="bi bi-plus-circle bid"></i>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

</body>
</html>